// Color
$primary: #5DC7ED;
$secondary: #4577F4;
$success: #E85D3C;
$danger: #be0027;
$info: #0F80A2;
$muted: #a09e9e;
$dark: rgba(black, 0.75);
$light: rgba(white, 0.7);
$white: white;
$black: black;
$pink:pink;
$deep-pink:#e1306c;
$theme-color: ( 'primary': $primary, 'secondary': $secondary, 'success': $success, 'danger': $danger, 'info': $info, 'muted': $muted, 'light': $light, 'dark': $dark, 'white': $white, 'black': $black, );